// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : rgb(37, 124, 159);
$secondary : rgb(44, 51, 66);
$accent    : whitesmoke;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #3FB945;
$negative  : #A82130;
$info      : #31CCEC;
$warning   : #F2C037;

$green     : rgb(63, 185, 69);
$blue      : rgb(37, 124, 159);
$red       : rgb(168, 33, 48);
$purple    : rgb(146, 45, 166);

body {
  margin: 0;
  background-color: rgb(44, 51, 66);
}

// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   margin-top: 60px;
// }


.player-group {
  background-color: rgb(185, 187, 187);
  background-color: rgb(28, 33, 42);
  width: 32%;
}

#left-column {
  background-color: #1D1D1D;
  border-radius: 20px;
}

#right-column {
  background-color: whitesmoke;
  border-radius: 20px;
}

#left-column li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#right-column li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-columns-container {
  width: 100%;
  min-height: 500px;
  background-color: rgb(44, 51, 66);
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  top: 0;
}

.player-group ul {
  padding-left: 0;
  padding-bottom: 50px;
  min-height: 100px;
}

.player-group li {
  background-color: rgb(37, 124, 159);
  margin-left: 3%;
  //margin-right: 3%;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 20px 25px;
  border-radius: 10px;
  color: white;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 95%;
}

#unmatched-column {
  width: 100%;
  min-height: 120px;
  margin: 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

#unmatched-column ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#unmatched-column ul li{
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#left-column li {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

#right-column li {
  display: flex;
  justify-content: flex-end;
  min-height: 70px;
}

.outcome-buttons {
  position: relative ;
  background-color: rgb(37, 124, 159);
  width: 30%;
  height: 100%;
  border-radius: 20px;
}

.outcome-buttons ul {
  list-style: none;
  padding: 0;
}


@media (max-width: 550px) {
  #unmatched-column ul li{
  width: 100% ;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 5%;
}

#right-column {
  font-size: 0.75rem;

}

#left-column {
  font-size: 0.75rem;
}

p{
  margin:  0px 0px 0px 0px;
}
}

