// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

body {
  margin: 0;
}

// #app {
//   font-family: Avenir, Helvetica, Arial, sans-serif;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   text-align: center;
//   color: #2c3e50;
//   margin-top: 60px;
// }


.player-group {
  background-color: rgb(185, 187, 187);
  padding: 10px;
  margin: 20px;
  justify-content: center;
  width: 30%;
}

#left-column {
  position: absolute;
  top: 0;
  left: 1%;
}

#right-column {
  position: absolute;
  top: 0;
  right: 1%;
}

#left-column li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#right-column li{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-container {
  width: 100%;
  height: 400px;
  background-color: rgb(60, 120, 144);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
}

.player-group ul {
  padding-left: 0;
  min-height: 50px;
}

.player-group li {
  background-color: rgb(37, 124, 159);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#unmatched-drawer {
  background-color: blue;
}

#unmatched-column {
  width: 100%;
  margin: 0;
}

#unmatched-column ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#unmatched-column ul li{
  width: 30%;
}

.outcome-buttons {
  position: relative ;
  background-color: rgb(68, 167, 159);
  margin: auto;
  width: 30%;
  height: 100%;
}

.outcome-buttons ul {
  list-style: none;
  padding: 0;
}
